﻿@model PermissionViewModel
    <h1>Permissions</h1>
    <br />
    <form method="post" asp-action="AddPermission">
        <div class="input-group">
            <input type="hidden" asp-for="@Model.RoleId" />
            <input name="permissionName" placeholder="Permission name" class="form-control w-25">
            <span class="input-group-btn">
                <button class="btn btn-info">Add New</button>
            </span>
        </div>
    </form>
    <table class="table table-striped" id="roleTable">
        <thead>
            <tr>
                <th>
                    Permission
                </th>
                <th style="width:10%">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in Model.RoleClaims)
            {
                <tr>
                    <td>
                        @claim
                    </td>
                    <td class="text-right">
                        <a class="btn btn-danger" asp-action="DeletePermission" asp-route-roleId="@Model.RoleId" asp-route-permissionName="@claim"><i class="fa fa-ban"></i> X Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>