﻿@model UserDetailViewModel

<div class="login-page">
    <div class="page-header">
        <h1>UserDetail</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User Detail</h3>
                </div>
                <div class="panel-body">

                    <form asp-action="Login" method="post">
                        <input type="hidden" asp-for="@Model.UserId" />

                        <fieldset>
                            <div class="form-group">
                                <label asp-for="@Model.FullName"></label>
                                <input class="form-control" placeholder="Fullname" asp-for="@Model.FullName" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.UserName"></label>
                                <input type="text" class="form-control" asp-for="@Model.UserName" readonly>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CreatedAt"></label>
                                <input type="text" class="form-control" asp-for="@Model.CreatedAt" readonly>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.RoleIds"></label>
                                
                                <select class="form-control" asp-for="@Model.RoleIds" asp-items="@(new SelectList(Model.SelectableRoleList))" >
                                    <option>Please select one</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" name="button" value="login">Update</button>
                                <a class="btn btn-default" asp-action="Index">Cancel</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>